@page "/cotumerTea"
@inject IDataService TeaType



<h2 class="text-center mt-3 mb-5" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:darkblue"><b>Tea Menu</b></h2>
<div class="container-fluid" style="width: 50rem;">
	<h6>Click on the tea's name to see more detials</h6>
	<div class="list-group-item list-group-item-action  mt-5">
		@foreach (var Item in Tea)
		{
			<a @onclick="()=>ShowInfo(Item.Id)" class="list-group-item list-group-item-action">
				@Item.TeaName
			</a>
		}
	</div>
</div>
<div class="container-fluid" style="width: 50rem;">
	<div class="card mt-5 " style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title"><b>Tea Details:</b> </h5>


			<p><b>Tea Name: </b>@NewTea.TeaName</p>
			<p><b>Price: </b>@NewTea.TeaPrice</p>
			<p><b>Description: </b>@NewTea.TeaDescription</p>
		</div>
	</div>
</div>

@code {
	List<TeaMenu> Tea = new List<TeaMenu>();
	TeaMenu NewTea = new TeaMenu();

	protected override async Task OnInitializedAsync()
	{

		Tea = await TeaType.ReadDisableTea();
	}

	public async Task ShowInfo(int teaId)
	{
		NewTea = await TeaType.CustomerTeaDetails(teaId);

	}
}
